body {
  background-color: rgb(2,132,130);
}

.spilled-milk {
  margin: 0 auto;
  height: 400px;
  width: 400px;
}

.milk-carton {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  animation: spill 2s ease-in 1;
  animation-fill-mode: forwards;
  transform: rotate(0deg);
}

@keyframes spill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }

}

.top-carton {
  background-color: white;
  position: relative;
  height: 10px;
  width: 150px;
  margin-left: 34px;
  margin-top: 20px;
}

.middle-carton {
  position: relative;
  display: flex;
  flex-direction: row;
}

.left-middle-carton {
  background-color: white;
  width: 150px;
  height: 80px;
  transform: skew(-19deg);
  margin: 8px 11px -16px 17px;
}

.right-middle-carton {
  width: 0;
  height: 0;
  border-left: 27px solid transparent;
  border-right: 38px solid transparent;
  border-bottom: 66px solid white;
  transform: rotate(-130deg);
  margin: 29px 51px -26px -29px;
}

.base-carton {
  position: relative;
  display: flex;
  flex-direction: row;
}

.left-base-carton {
  background-color: white;
  height: 200px;
  width: 150px;
  margin: 20px 2px 2px 2px;
}

.right-base-carton {
  background-color: white;
  width: 72px;
  height: 210px;
  transform: skew(-20deg) rotate(-20deg);
  margin-left: 5px;
  margin-bottom: -20px;
}


.puddle {
  position: absolute;
  background-color: lightpink;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  z-index: -1;
  margin-top: 200px;
}
